body,
* {
    margin: 0px;
    padding: 0px;
    /* box-color: #5D5FEF 
    last text color : #A3A3A3
    */
}

* {
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}

body{
    background-color: #F6F6F6;
}
.container {
    max-width: 92%; /* Maximum width is 90% of the parent element */
    margin: 0 auto; /* Center the container */
    padding: 0 35px; /* Add some padding */
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.menu-title-container {
    display: flex;
}

.menu-title-container h3 a{
    text-decoration: none;
    color: white;
}

.menu-title-container h3{
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;

}

.menu-title-container h3:first-child{
    background-color: #5D5FEF;

}

.menu-title-container h3:last-child{
    color: #5D5FEF;
}

.menu-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-cate-container {
    display: flex;
    gap: 30px;
}

.menu-cate-container h3 {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.menu-cate-container h3:first-child{
    color: #5D5FEF;
}

.menu-cate-container h3:last-child{
    color: #A3A3A3;
}

.menu-border{
    border-bottom: 2px solid #ddd;
}

.menu-cate-container h3::before{
    content: "";
    width: 24px;
    height: 3px;
    background-color: #5D5FEF;
    display: block;
    position: absolute;
    bottom: 2px;
    transform: translateX(7px);
    opacity: 0;
    transition: opacity 0.3s;

}

.menu-cate-container h3:hover::before {
    opacity: 1;
}

.all-categoty ul {
    display: flex;
    justify-content: space-between;
}

.category-and-foundSEC-container {
    padding: 20px 0px 45px 0px;
}


.all-categoty ul li a {
    text-decoration: none;
    color: #858585;
}

.all-categoty ul li a{
    padding: 10px 10px;
}

.all-categoty ul li a:hover{
    background-color: #EEEFFF;
    color: #5D5FEF;
}

.all-categoty {
    padding: 0px 0px 25px 0px;
}

.found-section {
    background-color: white;
    padding: 15px 15px;
    border-radius: 6px;
}

.found-section p {
    font-size: 0.96rem;
    font-weight: 500;
}

.news-singel-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 12px;
    background-color: white;
    border-radius: 8px;
}

.only-news-des h2 {
    color: #121221;
}

.news-des-container {
    padding: 5px 35px;
    width: 64%;
}

.only-news-des p {
    color: #949494;
    font-size: 0.99rem;
    margin: 15px 0px;
    line-height: 24px;
}

.author-container {
    display: flex;
    justify-content: space-between;
}



.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-des h4 {
    color: #2B2C34;
    font-size: 0.97rem;
    margin-bottom: 3px;
}

.author-des span {
    font-size: 0.92rem;
    color: #718797;
}

.news-views {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #515151;
    font-size: 0.9rem;
}

.rating-star {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.news-views-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-array {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color:#d0d8ff;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.next-array:hover, .btn-showMore button:hover{
    background-color: #b8c2f5;
}

.next-array i {color: #5D5FEF;}

.news-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}



.news-img {
    width: 36%;
}

.news-img img {
    width: 100%;
    height: 325px;
}

.hidden{
    display: none;
}


.btn-showMore button {
    background-color: #d0d8ff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #5D5FEF;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}


.btn-showMore {
    margin-top: 25px;
    text-align: center;
}


/* Loading spinner */

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid blue;
    border-right: 8px solid green;
    border-bottom: 8px solid red;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0px auto;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loading-spinner {
    margin-top: 15px;
}



/* Model */

.modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(57, 64, 71, 0.356);
    overflow: auto;
}

/* .removeModel{
    z-index: -1;
    opacity: 0;
}

.modalShow{
    z-index: 1;
    opacity: 1;
} */

.modal-content {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-product-details-container {
    width: 35%;
    padding: 15px 18px;
    background-color: white;
}

.modal-proudct-img {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #0D6EFD0D;
    padding: 27px 0px;
    border-radius: 10px;
}

.modal-proudct-img img {
    width: 45%;
}

.modal-product-details {
    margin: 22px 0px 25px 0px;
}

.modal-product-details h3 {
    font-size: 1.6rem;
    color: #403F3F;
}

.modal-product-details .modal-des {
    font-size: 0.875rem;
    margin-top: 6px;
    margin-bottom: 6px;
}

.modal-product-details p {
    color: #706F6F;
    margin-bottom: 4px;
}

.modal-product-details p span span {
    font-weight: bold;
}

.modal-product-details p span{
    font-size: 0.938rem;
}

.modal-product-details p:last-child{
    margin-bottom: 0px;
}

.modal-btn-close {
    text-align: right;
}

button.modal-close-btn {
    background-color: #d0d8ff;
    padding: 10px 26px;
}

button.modal-close-btn:hover{
    background-color: #b8c2f5;
}



@media screen and (max-width: 640px){
    .container {
        max-width: 96%; /* Maximum width is 90% of the parent element */
        margin: 0 auto; /* Center the container */
        padding: 0 12px; /* Add some padding */
    }

    .menu-account-container, .menu-cate-container{
        gap: 0px;
    }


    .all-categoty ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        font-size: 0.68rem;
    }

    .found-section{
        padding: 15px 12px;
    }

    .found-section p{
        font-size: 0.77rem;
    }


    .news-singel-box-wrapper{
        flex-direction: column;
        padding: 10px 7px;
    }


    /* .news-img {
        width: 50%;
    }
    
    .news-img img {
        width: 100%;
    } */

    .news-des-container{
        padding: 0px;
        width: 100%;
    }

    .only-news-des h2{
        font-size: 1.1rem;
        line-height: 24px;
    }

    .only-news-des p{
        font-size: 0.9rem;
    }

    .only-news-des {
        margin: 14px 0px;
    }

    .author-container{
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }

}
