body,
* {
    margin: 0px;
    padding: 0px;
    /* box-color: #5D5FEF 
    last text color : #A3A3A3
    */
}

* {
    box-sizing: border-box;
    font-family: "Roboto", system-ui;
}

ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
}

body{
    background-color: #F6F6F6;
}
.container {
    max-width: 92%; /* Maximum width is 90% of the parent element */
    margin: 0 auto; /* Center the container */
    padding: 0 35px; /* Add some padding */
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}

.menu-title-container {
    display: flex;
}

.menu-title-container h3 {
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.menu-title-container h3:first-child{
    background-color: #5D5FEF;
    color: white;
}

.menu-title-container h3:last-child{
    color: #5D5FEF;
}

.menu-account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-cate-container {
    display: flex;
    gap: 30px;
}

.menu-cate-container h3 {
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
    position: relative;
}

.menu-cate-container h3:first-child{
    color: #5D5FEF;
}

.menu-cate-container h3:last-child{
    color: #A3A3A3;
}

.menu-border{
    border-bottom: 2px solid #ddd;
}

.menu-cate-container h3::before{
    content: "";
    width: 24px;
    height: 3px;
    background-color: #5D5FEF;
    display: block;
    position: absolute;
    bottom: 2px;
    transform: translateX(7px);
    opacity: 0;
    transition: opacity 0.3s;

}

.menu-cate-container h3:hover::before {
    opacity: 1;
}

.all-categoty ul {
    display: flex;
    justify-content: space-between;
}

.category-and-foundSEC-container {
    padding: 20px 0px 45px 0px;
}


.all-categoty ul li a {
    text-decoration: none;
    color: #858585;
}

.all-categoty ul li a{
    padding: 10px 10px;
}

.all-categoty ul li a:hover{
    background-color: #EEEFFF;
    color: #5D5FEF;
}

.all-categoty {
    padding: 0px 0px 25px 0px;
}

.found-section {
    background-color: white;
    padding: 15px 15px;
    border-radius: 6px;
}

.found-section p {
    font-size: 0.96rem;
    font-weight: 500;
}

.news-singel-box-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 12px;
    background-color: white;
    border-radius: 8px;
}

.only-news-des h2 {
    color: #121221;
}

.news-des-container {
    padding: 5px 35px;
}

.only-news-des p {
    color: #949494;
    font-size: 0.99rem;
    margin: 15px 0px;
    line-height: 24px;
}

.author-container {
    display: flex;
    justify-content: space-between;
}



.author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-des h4 {
    color: #2B2C34;
    font-size: 0.97rem;
    margin-bottom: 3px;
}

.author-des span {
    font-size: 0.92rem;
    color: #718797;
}

.news-views {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #515151;
    font-size: 0.9rem;
}

.rating-star {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.news-views-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-array {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color:#d0d8ff;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.next-array:hover{
    background-color: #b8c2f5;
}

.next-array i {color: #5D5FEF;}

.news-box-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}



@media screen and (max-width: 640px){
    .container {
        max-width: 96%; /* Maximum width is 90% of the parent element */
        margin: 0 auto; /* Center the container */
        padding: 0 12px; /* Add some padding */
    }

    .menu-account-container, .menu-cate-container{
        gap: 0px;
    }


    .all-categoty ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
        font-size: 0.68rem;
    }

    .found-section{
        padding: 15px 12px;
    }

    .found-section p{
        font-size: 0.77rem;
    }


    .news-singel-box-wrapper{
        flex-direction: column;
        padding: 10px 7px;
    }


    /* .news-img {
        width: 50%;
    }
    
    .news-img img {
        width: 100%;
    } */

    .news-des-container{
        padding: 0px;
        width: 100%;
    }

    .only-news-des h2{
        font-size: 1.1rem;
        line-height: 24px;
    }

    .only-news-des p{
        font-size: 0.9rem;
    }

    .only-news-des {
        margin: 14px 0px;
    }

    .author-container{
        flex-direction: row;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }

}
